.underline_wavy {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
    text-decoration-color: #aa648a;
	  transition: color 0.5s;
}

.underline_wavy:hover {
    color: #aa648a;
    text-underline-offset: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-family: Poppins, Helvetica, sans-serif;
  width: 120px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -90%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.bg-momoyoga {
  background-image: url('/public/Gradient_momoyoga.png');
}